#error-email {
    color: red;
}

#error-name {
    color: red;
}

#prof-btn {
    float: right;
}

#prof-success {
    color: green;
}

#prof-error {
    color: red;
}

#search {
    margin-top: 1.7em;
}

.court th{
    height: 5em;
}

.act {
    float: right;
}

.imagen {
    max-height: 25em;
    width: 100%;
    margin-bottom: 2em;
}


