#error-email {
    color: red;
}

#error-name {
    color: red;
}

#prof-btn {
    float: right;
}

#prof-success {
    color: green;
}

#prof-error {
    color: red;
}

.court th{
    height: 5em;
}

.act {
    float: right;
}


