#error-email {
    color: red;
}

#error-name {
    color: red;
}

#prof-btn {
    float: right;
}

#prof-success {
    color: green;
}

#prof-error {
    color: red;
}

#search {
    margin-top: 1.7em;
}

#save {
    float: right;
}

#separar {
    margin-bottom: 1em;
}

.court th{
    height: 5em;
}

.act {
    float: right;
}

.imagen {
    max-height: 25em;
    width: 100%;
    margin-bottom: 2em;
}

.tabla:hover {
    cursor: pointer;
}

.table-selected th {
    background-color: green !important;
}

